.bg-sidebar {
	background-color: hsl(var(--sidebar-background));
}

.text-sidebar-primary-foreground {
	color: hsl(var(--sidebar-primary-foreground));
}
.bg-sidebar-primary {
	background-color: hsl(var(--sidebar-primary));
}
